<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<th:block th:fragment="nav">
			 <nav>
                <a href="#" class="active">マップ</a>
                <a th:href="@{/guidelines}">災害対策</a>
                <a th:href="@{/community}">コミュニティ</a>
                <a th:href="@{/member/myPage}">マイページ</a>
            </nav>
    </th:block>        
</body>
</html>